await-no-locks.sh
bashics
bashics.sh
bashics-version.sh
cdpp
cdpp.bashrc
cdpp-version.sh
claude.exe
completion-debug.sh
find-up-tree.sh
git-binary-filechange-search.sh
git-cherry-pick-list.sh
git-code-diff-wrapper.sh
git-dirty
git-find-root
gitgrep-all.sh
git-log-compact
git-make-child-clone.sh
git-pro-settings-apply.sh
git-remote-show-urls.sh
git-reset-very-hard.sh
gitsmart
gitsmart.sh
gitsmart-help.sh
gitsmart-version.sh
git-status-bulk.sh
git-wc-inventory
git-wc-inventory-mark-done
git-wc-map.mk
less-syntax-hilite.sh
localhist
localhist.sh
localhist-archive.sh
localhist-cleanup.sh
localhist-dump.sh
localhist-merge.sh
localhist-version.sh
lock-add.sh
looper
looper.sh
looper-version.sh
parse_ps1_host_suffix.sh
ps1-foo
ps1-foo-version.sh
quash.sh
realpath.sh
setup-github-auth-wsl.sh
shellkit-bootstrap.sh
shellkit-loader.bashrc
shellkit-loader.sh
shellkit-pm
shellkit-pm-help.sh
shellkit-pm-version.sh
shellkit-query-package.sh
shfmt
shpm
taskrc.sh
taskrc_help
taskrc_new
taskrc_register_all.sh
taskrc-kit
taskrc-kit-version.sh
tree-walker.sh
vi-mode.sh
vipe.sh
